.article-big-cover {
  width: 100%;
  object-fit: cover;
  border-radius: 0rem;
  box-sizing: border-box;
  padding-top: calc(9 / 16 * 100%);
  background-position: center;
  background-size: cover;
}

.text-muted {
  --bs-text-opacity: 1;
  color: #808080!important;
}

@media (min-width: 992px) {
  .header-row {
    min-height: calc(100vh - 3rem);
  }
}

.header-nav-video-div header .container {
  padding: 0;
}

