@font-face {
	font-family: 'ClashDisplay-Regular';
	src: url(../../assets/fonts/ClashDisplay-Regular.woff2) format('woff2'),
	url(../../assets/fonts/ClashDisplay-Regular.woff) format('woff'),
	url(../../assets/fonts/ClashDisplay-Regular.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}